@use "./reset";
@use "./mixins&functions" as *;
@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@mixin button($color) {
	background-color: map-get($colors, $color);
	display: flex;
	color: map-get($colors, "white");
	padding-inline: px-to-rem(18px);
	padding-block: px-to-rem(10px);
	border-radius: px-to-rem(110px);
	font-weight: 600;
	gap: px-to-rem(4px);
	box-shadow: $mini-card-shadow;
	user-select: none;
	justify-content: center;
}
body {
	font-family: $font-family;
	background-color: map-get($colors, "bg");
	padding-inline: px-to-rem(16px);
	min-height: 100vh;
	min-height: 100dvh;
}

.card_profile {
	background-color: map-get($colors, "white");
	border-radius: px-to-rem(24px);
	display: grid;
	place-items: center;
	padding: px-to-rem(16px);
	aspect-ratio: 1.2/1;
	max-width: px-to-rem(584px);
	margin-inline: auto;
	margin-top: 10dvh;
	box-shadow: $card-shadow;

	@include custom-media-query("mobile", 432px) {
		padding-block: px-to-rem(28px);
	}

	// Sub Classes
	.profile_image {
		width: px-to-rem(135.75px);
	}
	.profile_details--wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: px-to-rem(28px);
		flex-wrap: wrap;
		user-select: none;

		@include custom-media-query("mobile", 432px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}

		// Sub Classes
		h1 {
			font-size: px-to-rem(32px);
		}
		.profile-subtitle {
			color: map-get($colors, "grey");
			font-size: px-to-rem(14px);
			font-weight: 400;
		}
	}

	.date_time {
		display: flex;
		justify-content: space-between;
		margin-top: px-to-rem(36px);
		@include custom-media-query("mobile", 432px) {
			flex-direction: column;
			gap: px-to-rem(8px);
		}
		.button {
			@include button("blue");
		}
		.button2 {
			@include button("orange");
		}
	}
	.button3 {
		@include button("black");
		justify-content: center;
		align-items: center;
		padding-block: px-to-rem(18px);
		margin-top: px-to-rem(28px);

		a {
			color: map-get($colors, "white");
			&:hover {
				cursor: pointer;
			}
		}
	}
}

/* Width and height of the scroll bar track */
::-webkit-scrollbar {
	width: 0px;
	height: 2px;
}

/* Track background color */
::-webkit-scrollbar-track {
	background-color: #fcfdfff8;
}

/* Handle (thumb) of the scroll bar */
::-webkit-scrollbar-thumb {
	background-color: #2f1b1b63;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

.animate-1 {
	animation: reveal 1.2s ease-in forwards;
}

@for $i from 1 through 7 {
	.animate-#{$i} {
		animation: reveal 1.2s ease-in forwards;

		@if $i == 2 {
			opacity: 0;
			animation: reveal 1.2s 1s ease-in forwards;
			z-index: 1;
		}
		@if $i == 3 {
			opacity: 0;
			animation: slide-right 0.8s 1s ease-out forwards;
		}
		@if $i == 4 {
			opacity: 0;
			animation: slide-right 0.8s 1.4s ease-out forwards;
		}
		@if $i == 5 {
			opacity: 0;
			animation: slide-right 0.8s 1.9s ease-out forwards;
		}
		@if $i == 6 {
			opacity: 0;
			animation: reveal 0.8s 2.3s ease-out forwards;
		}
		@if $i == 7 {
			opacity: 0;
			animation: reveal 0.8s 2.6s ease-out forwards;
		}
	}
}

@keyframes reveal {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide-right {
	0% {
		opacity: 0;
		transform: translateY(-100%);
		filter: blur(2px);
	}

	80% {
		opacity: 1;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}
